@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 1200px */
/* @media (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
  }
} */

.content-container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-feature-settings:
    'clig' 0,
    'liga' 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
