@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 모든 입력 요소에 대해 스핀 버튼을 숨김 */
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 기본 컨텐츠 컨테이너 스타일 */
.content-container {
  @apply mx-auto w-full;
  max-width: 1920px; /* 최대 폭 설정 */
}

/* 사용자의 색상 모드가 밝은 모드일 때의 색상 설정 */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-feature-settings: 'clig' 0, 'liga' 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
}

/* 유틸리티 레이어에 추가적인 유틸리티 클래스 추가 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 노트북에서 앱 모드 시연을 위해 최대 너비 제한 */
@media (min-width: 640px) {
  .content-container {
    max-width: 375px; /* iPhone 6/7/8 크기로 설정 */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }
}